<h1>Edit a Gallery Entry</h1>

<p>
  <%= link_to("Back", "pictures/#{@pictures.id}") %>
</p>

<p>
<%= form_for(@picture, url: "/pictures/#{picture.id}") do |f| %>
</p>
<p>
  <%= f.label :artist %><br>
  <%= f.text_field :artist %>
</p>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :url %><br>
  <%= f.text_field :url %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>
